<h1>Settlement List</h1>
<ul>
<% @settlements.each do |settlement| %>
  <li>
    <p><%= settlement.contributor.name %> ows <%= settlement.expense.purchaser.name %> : $ <%= settlement.amount_cents/100 %> for <%= settlement.expense.name %> on <%= settlement.expense.purchased_on %>   </p>
  </li>
<% end %>
</ul>
<br>
<h3>Debts</h3>
<% @debts.each do |debt| %>
  <li>
    <p><%= debt[0].name %> : $ <%= debt[1]/100 %></p>
  </li>
<% end %>

</ul>
