<h2>Create house</h2>

<%= form_for @house do |f| %>

  <% if @house.errors.any? %>
    <div>
      <h2><%= pluralize(@house.errors.count, 'error') %> prevented the house from being saved..</h2>
      <ul>
      <% @house.errors.full_messages.each do |error_msg| %>
        <li><%= error_msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.text_field :address %>

  <%= f.submit "Create house" %>
<% end %>

<% if @invitations %>
  <div class="large-12 columns">
    <h3>Your invitations</h3>
    <ul>
      <% @invitations.each do |invitation| %>
        <li>
          <%= invitation.user.house.name %>
          <br>
          <%= link_to "Accept", accept_invitation_path(invitation) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>