
  <h1>Settlements</h1>
  <hr>
  <div class="row">
    <ul class="roomate_board" >
      <% @settlements.each do |settlement| %>
        <li class="roomate">
          <div class="roomate_card">
            <center>
              <%= image_tag(settlement[:roomate].image, class: "roomate_avatar ") %>
              <p><%= settlement[:roomate].name %></p>

              <% case  %>
              <% when settlement[:balance] == 0 %>
                <p class="rommate_card_situation">All good here.</p>
              <% when settlement[:balance] < 0 %>
                <p class="rommate_card_situation"><%= "You owe $ #{ display_dollars(settlement[:balance]) }" %></p>
                <%= link_to "Make Payment", new_payment_path(lender_id: settlement[:roomate].id), class: "button success"%>
              <%else%>
              <p class="rommate_card_situation"><%= "Owes you $ #{ display_dollars(settlement[:balance]) }" %></p>
              <%= link_to "Request Payment", payment_request_path(borrower_id: settlement[:roomate].id), method: 'post', class: "button "%>
            <% end %>
          </center>
        </div>
      </li>
    <%end %>
  </ul>
</div>
<hr>
<!-- <h2>Your Payments</h2> -->
<div class='row table_headers'>
  <div class="large-3 columns">
    <p>Date</p>
  </div>
  <div class="large-3 columns">
    <p>Payer</p>
  </div>
  <div class="large-3 columns">
    <p>Payee</p>
  </div>
  <div class="large-2 columns">
    <center><p>Amount</p></center>
  </div>
  <div class="large-1 columns">
  </div>
</div>
<div class="row table_content">
  <% @payments.each do |payment| %>
    <div class="row payment">
      <div class="large-3 columns">
        <%= payment.date.to_formatted_s(:long) %>
      </div>
      <div class="large-3 columns">
        <p><%= payment.borrower.name %></p>
      </div>
      <div class="large-3 columns">
        <%= payment.lender.name %>
      </div>
      <div class="large-2 columns">
         <center>$ <%= payment.amount %></center>
      </div>
      <div class="large-1 columns">
        <% if payment.borrower == current_user %>
          <%= link_to "Delete", payment_path(payment), method: :delete, class: 'button danger small radius' %>
        <%end %>
      </div>
    <hr>
    </div>
  <% end %>
</div>
