<center><h1>New Payment</h1></center>
<%= form_for @payment do |f| %>
  <% if @payment.errors.any? %>
    <div>
      <h2><%= pluralize(@payment.errors.count, 'error') %> prevented the form from being saved..</h2>
      <ul>
        <% @payment.errors.full_messages.each do |error_msg| %>
          <li><%= error_msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
      <center>
        <img class="roomate_avatar" src="<%= @payment.lender.image %>" alt="">
        <p><%= @payment.lender.name %></p>
      </center>
      <%= f.hidden_field :lender_id, :value => @payment.lender.id %>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= f.label :amount %>
      <div class="row collapse">
        <div class="small-3 large-2 columns">
          <span class="prefix"><strong> $ </strong></span>
        </div>
        <div class="small-9 large-10 columns">
          <%= f.number_field :amount , :default => @payment.amount , :step => 'any'%>
        </div>
      </div>
      <%= f.label :date %>
      <%= f.date_field :date, :value => "2012-09-03" %>
      <%= f.label :method %>
      <p>
        <%= f.radio_button :method, "cash", :checked => 'checked' %>
        <%= "Cash" %>
        <%= f.radio_button :method, "deposit" %>
        <%= "Deposit" %>
      </p>
      <br>
      <center><%= f.submit "Submit", class: "button success" %></center>

  </div>
<% end %>
<hr>
