<% user_total = 0 %>
<% house_total = 0 %>
<div class="row">
  <div class="small-3 push-9 columns" style="padding-top: 20px"><button class="button success" id="newExpenseForm">New Expense</button></div>
  <div class="small-9 pull-3 columns"><h1>Expenses</h1>
</div>
<hr>

<div class='flip-container' >
  <div class="row flipper" >
    <div class="front small-12 columns">
    <center><button class="toggleExpenseFlip button small round secondary">View your expenses</button></center>
    <h3 class="left">House Expenses</h3>
    <!-- <div class="small-3 push-6 columns"> -->
    <!-- </div> -->
    <div class="clearfix"></div>
    <br>
    <div class='row'>
      <div class="large-3 columns">
        <strong>Date</strong>
      </div>
      <div class="large-3 columns">
        <strong>Description</strong>
      </div>
      <div class="large-3 columns">
        <strong>Amount</strong>
      </div>
    </div>
    <% @house_expenses.each do |expense| %>
      <% house_total += expense.total_cents %>
      <div class='row'>
        <hr>
          <div class="large-3 columns">
            <%= expense.purchased_on.to_formatted_s(:long) %>
          </div>
          <div class="large-3 columns">
            <%= expense.name %>
          </div>
          <div class="large-3 columns">
            $ <%= expense.total %>
          </div>
        </div>
      <% end %>
      <hr>
      <div class='row'>
        <div class="large-3 large-offset-8 columns">
          <h4 style ="text-align: center">$ <%= display_dollars(house_total) %></h4>
        </div>
      </div>
    </div>


    <div class="back small-12 columns">
    <center><button class="toggleExpenseFlip button small secondary round ">View house expenses</button></center>
    <h3 style="margin-bottom: 25px;" class="left">Your Expenses</h3>
    <div class="clearfix"></div>
    <br>
    <div class='row'>
      <div class="large-3 columns">
        <strong>Date</strong>
      </div>
      <div class="large-3 columns">
        <strong>Description</strong>
      </div>
      <div class="large-3 columns">
        <strong>Your Share</strong>
      </div>
    </div>
    <% @user_debts.each do |debt| %>
      <% user_total += debt.amount_cents %>
      <div class='row'>
        <hr>
          <div class="large-3 columns">
            <%= debt.expense.purchased_on.to_formatted_s(:long) %>
          </div>
          <div class="large-3 columns">
            <%= debt.expense.name %>
          </div>
          <div class="large-3 columns">
            <%= debt.amount %>
          </div>
        </div>
      <% end %>
      <hr>
      <div class='row'>
        <div class="large-3 large-offset-8 columns">
          <h4 style ="text-align: center">$ <%= display_dollars(user_total) %></h4>
        </div>
      </div>
    </div>
  </div>
</div>