<h1>New Expense from Grocery List</h1>

<%= form_for @expense do |f| %>
  <%= f.label :name , default: @expense.name%>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :total_cents %>
  <%= f.number_field :total_cents %>
  <%= f.hidden_field :contributor_ids, :value => @expense.contributor_ids %>
  <%= f.hidden_field :purchased_on, :value => Date.today %>

  <%= f.submit "Submit", class: "button success" %>
<% end %>
