<!DOCTYPE html>
<html>
<head>
  <title>LiveTogether</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><h1><a href="/">LiveTogether</a></h1></li>
    <li class="toggle-topbar"><a href>Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <% if user_signed_in? %>
      <ul class="left">
        <% if current_house %>
          <li class="nav">
            <%= link_to "Chores", chores_path %>
          </li>
          <li class="nav">
            <%= link_to "Grocery Lists", grocery_lists_path %>
          </li>
          <li>
            <%= link_to "Expenses", expenses_path %>
          </li>
          <li>
            <%= link_to "Settlements", payments_path %>
          </li>
        <% end %>
      </ul>
      <ul class="right">
        <li class="divider"></li>
        <% if current_user.image? %>
          <li class="nav" style='line-height: 1em'><%= image_tag(current_user.image, style: "height:42px") %></li>
        <% end %>
        <li class="nav"><%= link_to current_user.name, root_path %></li>
        <li class="divider"></li>
        <li class="nav"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
      <ul class="right">
        <li class="divider"></li>
        <li class="nav"><%= link_to "Sign up", new_user_registration_path %></li>
      </ul>
    <% end %>
  </section>
</nav>
<% if ! flash.empty? %>
  <center>
    <% if alert || notice %>
      <% if notice %>
        <a href="#" class="button success disabled"><div class="notice"><%= notice %></div></a>
      <% end %>
      <% if alert %>
        <a href="#" class="button alert disabled"><div class="alert"><%= alert %></div></a>
      <% end %>
    <% end %>
  </center>
<% end %>

<div class="row main-content">
<%= yield %>
</div>

</body>
</html>
