<!DOCTYPE html>
<html>
<head>
  <title>LiveTogether</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<nav class="top-bar">
  <ul class="title-area">
    <li class="name">LiveTogether</li>
    <li class="toggle-topbar"><a href>Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Login", new_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>

<% if alert || notice %>
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
<% end %>

<div class="row">
<%= yield %>
</div>

</body>
</html>
